-r requirements_common.txt

# torch==2.6.0.*
# torchvision==0.21.0.*
# torchaudio==2.6.0.*

flash-attn

transformer-engine[pytorch]==2.2.0
deepspeed==0.16.4

https://nebula-cv.oss-cn-zhangjiakou.aliyuncs.com/yansong/vllm/vllm084/gpu/vllm-0.8.4%2Bcu128-cp310-cp310-linux_x86_64.whl

